.header {
    padding: 10px;
    background-color: white;
    display: flex;
    justify-content: space-between;
}

.rightItems {
    .formControl {
        min-width: 120px;
    }
}

.menu__link {
    list-style: none;
    text-decoration: none;
    color: black;
}